#chatBox {
    border-right: 2px solid black;
}

#checkboxes {
    display: block;
}

.container {
    text-align: center;
    border: 2px solid black;
    border-radius: 6px;
    width: 85%;
}


#clearButton {
	margin-left: 20px;
}


/*Use "message" class to format created message divs*/

