div#chatBox {
    border: 2px solid black;
}

#chatBox {
    border-right: 2px solid black;
}

#checkboxes {
    display: block;
    margin-left: 200px;
    width: 300px;
    
}

.container {
    text-align: center;	
    border: 2px solid black;
    border-radius: 6px;
    width: 80%;
    float: right;
    margin-top: 250px;
    margin-left: 10%;
    margin-right: 10%;

}

#clearButton {
	display: inline;
	clear:all;

}

#formID {
	float: left;
	max-width: 120px;
	max-height: 120px;

}

#Ahmed {
	max-height: 120px;
}

#userInput {
	width: 700px;
	float: right;
	text-area: ;
	height: 150px;
	text-align: top;
}

h1 {
	text-align: center;
}

img {
	margin-top: 0px;
}




